<p>
  forgot-password works!
</p>
<input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
<input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">