<p>
  sign-up works!
</p>
<input type="email" class="formControl" placeholder="Email Address" #userEmail required>
<input type="password" class="formControl" placeholder="Password" #userPwd required>
<input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">