<p>
  sign-in works!
</p>
<input type="text" class="formControl" placeholder="Username" #userName required>
<input type="password" class="formControl" placeholder="Password" #userPassword required>
<input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">